creating the new column

In [1]:
import pandas as pd

# Load your uploaded cleaned dataset (make sure you've uploaded it first using files.upload())
df = pd.read_csv("updated_cleaned_ree_data.csv")

# Prices per kg in USD for each REO
prices = {
    "La2O3": 0,         # Optional: use 0 if not relevant
    "Ce2O3": 0,         # Optional: use 0 if not relevant
    "Pr6O11": 95.70,
    "Nd2O3": 95.70,
    "Sm2O3": 1.945,
    "Eu2O3": 23.71,
    "Gd2O3": 30.00,     # Average value
    "Tb4O7": 796.52,
    "Dy2O3": 201.87,
    "Ho2O3": 56.91
}

# Convert all relevant columns to numeric just in case
df["Resource (*10^4 t, REO, Total)"] = pd.to_numeric(df["Resource (*10^4 t, REO, Total)"], errors='coerce')
for oxide in prices.keys():
    df[oxide] = pd.to_numeric(df[oxide], errors='coerce')

# Calculate total scaled value
df["Total Scaled Value"] = sum(
    df["Resource (*10^4 t, REO, Total)"] * df[oxide] * 10000 * price
    for oxide, price in prices.items()
)

# Preview the new column
print(df[["Project Name", "Continent", "Total Scaled Value"]].head(10))

                                        Project Name      Continent  \
0                                         Mount Weld      Australia
1                                      Mountain Pass  North America
2                                            Eneabba      Australia
3                                     Dubbo (Toongi)      Australia
4  Kvanefjeld (Ilimaussaq:Kvanefjeld, Zone 3, Sør...      Greenland
5                                           Longonjo         Africa
6                                Tanbreez/Kringlerne      Greenland
7                                         Norra Kärr         Europe
8                                            Olserum         Europe
9                                                Fen         Europe

   Total Scaled Value
0        7.454625e+09
1        6.810700e+09
2        1.452166e+08
3        1.397196e+09
4        2.226007e+10
5        1.072906e+10
6        7.407427e+10
7        5.910910e+08
8        1.491737e+08
9        9.528386e+09

Adding the new Column to the excel sheet

In [3]:
import pandas as pd

# Load the existing cleaned data
df = pd.read_csv('updated_cleaned_ree_data.csv')

# Add the 'Total scaled value' calculation (replace this with your actual formula)
# Example calculation (replace with actual columns and formula):
df['Total scaled value'] = df['column1'] * df['column2']  # Replace with actual columns and formula

# Save the updated data back to a new CSV
df.to_csv('/mnt/data/updated_ree_data_with_total_scaled_value.csv', index=False)

# Output the first few rows to verify
df.head()

KeyError: 'column1'

In [5]:
import pandas as pd

# Load the existing cleaned data
df = pd.read_csv('updated_cleaned_ree_data.csv')

# Display the column names to find the right ones
print(df.columns)

Index(['Project No.', 'Deposit No.', 'Company Name', 'Project Name',
       'Location', 'Continent',
       'Status (2022), 1: Exploration/ Define resource; 2: Feasibility/ Pre-feasibility; 3: Construction; 4: Production; S: Suspending mining; T: Test of Metallurgical; D: Development licence; N: Not Use',
       'Deposit type', 'Resource (*10^4 t, REO, Total)', 'Grade (wt. %)',
       'La2O3', 'Ce2O3', 'Pr6O11', 'Nd2O3', 'Sm2O3', 'Eu2O3', 'Gd2O3', 'Tb4O7',
       'Dy2O3', 'Ho2O3', 'Er2O3', 'Tm2O3', 'Yb2O3', 'Lu2O3', 'Y2O3',
       'HREE percentage', 'REE pattern Ref.', 'Project and status Ref.',
       'Deposit type Ref.', 'Resource and grade Ref.'],
      dtype='object')

In [8]:
df.to_csv('updated_ree_data_with_total_scaled_value.csv', index=False)

# Display the first few rows to confirm
print(df.head())

   Project No.  Deposit No.                    Company Name  \
0          1.0          1.0               Lynas Rare Earths
1          2.0          2.0                    MP Materials
2          3.0          3.0         Iluka Resources Limited
3          5.0          5.0  Australian Strategic Materials
4          6.0          6.0      Greenland Minerals Limited

                                        Project Name  \
0                                         Mount Weld
1                                      Mountain Pass
2                                            Eneabba
3                                     Dubbo (Toongi)
4  Kvanefjeld (Ilimaussaq:Kvanefjeld, Zone 3, Sør...

                                     Location      Continent  \
0                       Mount Weld, Australia      Australia
1  Central Mojave Desert, California, America  North America
2       Eneabba, Western Australia, Australia      Australia
3           Dubbo, New South Wales, Australia      Australia
4                           Narsaq, Greenland      Greenland

  Status (2022), 1: Exploration/ Define resource; 2: Feasibility/ Pre-feasibility; 3: Construction; 4: Production; S: Suspending mining; T: Test of Metallurgical; D: Development licence; N: Not Use  \
0                                                  4
1                                                  4
2                                                  4
3                                            4(2022)
4                                                  2

    Deposit type  Resource (*10^4 t, REO, Total)  Grade (wt. %)  ...  \
0    Carbonatite                          300.00           5.40  ...
1    Carbonatite                          418.30           8.90  ...
2         Placer                            7.29           0.09  ...
3  Alkaline rock                           55.63           0.74  ...
4  Alkaline rock                         1114.00           1.10  ...

         Er2O3        Tm2O3     Yb2O3        Lu2O3       Y2O3  \
0  0.139523085  0.012683917  0.063420            0   1.775748
1  0.015229973  0.015229973  0.015230  0.015229973   0.106610
2  0.478281399  0.067454059  0.439415  0.052035988   6.422911
3  1.124859393  0.112485939  1.012373  0.112485939  15.860517
4  0.555555556  0.092592593  0.462963  0.185185185   7.870370

   HREE percentage                                   REE pattern Ref.  \
0         3.970066                         Paulick and Machacek ,2017
1         0.487359                         Paulick and Machacek ,2017
2        10.080206                          Jaireth et al., 2014, OGR
3        23.059618  Paulick, H., & Machacek, E. (2017). The global...
4        11.759259  Paulick, H., & Machacek, E. (2017). The global...

                             Project and status Ref.  \
0  Lynas, Annual Report 2021, https://lynasrareea...
1                     https://mpmaterials.com/about/
2  ILUKA, ENEABBA MINERAL SANDS RECOVERY PROJECT ...
3  https://asm-au.com/dubbo-project-overview/reso...
4  https://ggg.gl/project/geology-and-resource/?P...

                                   Deposit type Ref.  \
0  Lynas, Lynas Rare Earths Limited CLSA Explorat...
1  Long, K.R., Van Gosen, B.S., Foley, N.K., and ...
2  ILUKA, ENEABBA MINERAL SANDS RECOVERY PROJECT ...
3  Spandler, C., & Morris, C. (2016). Geology and...
4       https://ggg.gl/project/geology-and-resource/

                             Resource and grade Ref.
0  Lynas, Lynas Rare Earths Limited CLSA Explorat...
1  Long, K.R., Van Gosen, B.S., Foley, N.K., and ...
2  ILUKA, ENEABBA MINERAL SANDS RECOVERY PROJECT ...
3  Australian Strategic Materials, Annual Report ...
4  Greenland Minerals Limited, Positioning Greenl...

[5 rows x 30 columns]

In [9]:
import pandas as pd

# Load the updated data
df_updated = pd.read_csv('updated_ree_data_with_total_scaled_value.csv')

# Display the first few rows to confirm if the 'Total Scaled Value' column was added
print(df_updated[["Project Name", "Continent", "Total Scaled Value"]].head(10))

KeyError: "['Total Scaled Value'] not in index"

In [11]:
import pandas as pd

# Load the updated data
df_updated = pd.read_csv('updated_ree_data_with_total_scaled_value.csv')

# Display the column names to check if 'Total Scaled Value' is present
print(df_updated.columns)

Index(['Project No.', 'Deposit No.', 'Company Name', 'Project Name',
       'Location', 'Continent',
       'Status (2022), 1: Exploration/ Define resource; 2: Feasibility/ Pre-feasibility; 3: Construction; 4: Production; S: Suspending mining; T: Test of Metallurgical; D: Development licence; N: Not Use',
       'Deposit type', 'Resource (*10^4 t, REO, Total)', 'Grade (wt. %)',
       'La2O3', 'Ce2O3', 'Pr6O11', 'Nd2O3', 'Sm2O3', 'Eu2O3', 'Gd2O3', 'Tb4O7',
       'Dy2O3', 'Ho2O3', 'Er2O3', 'Tm2O3', 'Yb2O3', 'Lu2O3', 'Y2O3',
       'HREE percentage', 'REE pattern Ref.', 'Project and status Ref.',
       'Deposit type Ref.', 'Resource and grade Ref.'],
      dtype='object')

In [12]:
import pandas as pd

# Load the original dataset again
df = pd.read_csv('updated_cleaned_ree_data.csv')

# Prices per kg in USD for each REO
prices = {
    "La2O3": 0,         # Optional: use 0 if not relevant
    "Ce2O3": 0,         # Optional: use 0 if not relevant
    "Pr6O11": 95.70,
    "Nd2O3": 95.70,
    "Sm2O3": 1.945,
    "Eu2O3": 23.71,
    "Gd2O3": 30.00,     # Average value
    "Tb4O7": 796.52,
    "Dy2O3": 201.87,
    "Ho2O3": 56.91
}

# Convert all relevant columns to numeric just in case
df["Resource (*10^4 t, REO, Total)"] = pd.to_numeric(df["Resource (*10^4 t, REO, Total)"], errors='coerce')
for oxide in prices.keys():
    df[oxide] = pd.to_numeric(df[oxide], errors='coerce')

# Calculate total scaled value
df["Total Scaled Value"] = sum(
    df["Resource (*10^4 t, REO, Total)"] * df[oxide] * 10000 * price
    for oxide, price in prices.items()
)

# Save the updated DataFrame to a new CSV file
df.to_csv('updated_ree_data_with_total_scaled_value.csv', index=False)

# Display the first few rows to confirm
print(df[["Project Name", "Continent", "Total Scaled Value"]].head(10))

                                        Project Name      Continent  \
0                                         Mount Weld      Australia
1                                      Mountain Pass  North America
2                                            Eneabba      Australia
3                                     Dubbo (Toongi)      Australia
4  Kvanefjeld (Ilimaussaq:Kvanefjeld, Zone 3, Sør...      Greenland
5                                           Longonjo         Africa
6                                Tanbreez/Kringlerne      Greenland
7                                         Norra Kärr         Europe
8                                            Olserum         Europe
9                                                Fen         Europe

   Total Scaled Value
0        7.454625e+09
1        6.810700e+09
2        1.452166e+08
3        1.397196e+09
4        2.226007e+10
5        1.072906e+10
6        7.407427e+10
7        5.910910e+08
8        1.491737e+08
9        9.528386e+09

In [13]:
import pandas as pd

# Load the original dataset again
df = pd.read_csv('updated_cleaned_ree_data.csv')

# Prices per kg in USD for each REO
prices = {
    "La2O3": 0,         # Optional: use 0 if not relevant
    "Ce2O3": 0,         # Optional: use 0 if not relevant
    "Pr6O11": 95.70,
    "Nd2O3": 95.70,
    "Sm2O3": 1.945,
    "Eu2O3": 23.71,
    "Gd2O3": 30.00,     # Average value
    "Tb4O7": 796.52,
    "Dy2O3": 201.87,
    "Ho2O3": 56.91
}

# Convert all relevant columns to numeric just in case
df["Resource (*10^4 t, REO, Total)"] = pd.to_numeric(df["Resource (*10^4 t, REO, Total)"], errors='coerce')
for oxide in prices.keys():
    df[oxide] = pd.to_numeric(df[oxide], errors='coerce')

# Calculate total scaled value
df["Total Scaled Value"] = sum(
    df["Resource (*10^4 t, REO, Total)"] * df[oxide] * 10000 * price
    for oxide, price in prices.items()
)

# Overwrite the existing CSV file with the updated data
df.to_csv('updated_cleaned_ree_data.csv', index=False)

# Display the first few rows to confirm the update
print(df[["Project Name", "Continent", "Total Scaled Value"]].head(10))

                                        Project Name      Continent  \
0                                         Mount Weld      Australia
1                                      Mountain Pass  North America
2                                            Eneabba      Australia
3                                     Dubbo (Toongi)      Australia
4  Kvanefjeld (Ilimaussaq:Kvanefjeld, Zone 3, Sør...      Greenland
5                                           Longonjo         Africa
6                                Tanbreez/Kringlerne      Greenland
7                                         Norra Kärr         Europe
8                                            Olserum         Europe
9                                                Fen         Europe

   Total Scaled Value
0        7.454625e+09
1        6.810700e+09
2        1.452166e+08
3        1.397196e+09
4        2.226007e+10
5        1.072906e+10
6        7.407427e+10
7        5.910910e+08
8        1.491737e+08
9        9.528386e+09